<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DogChat: Feed</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>


     <!--navbar-->
     <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="feed.html" style=" font-weight: bold; font-family: 'Comic Sans MS', sans-serif;">
           DogChat
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Feed
            </a>

            <a class="navbar-item">
                My Profile
              </a>

            <!--
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div> -->
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>

                  <!--
                <a class="button is-light"> 
                  Log in
                </a>
              -->

                 <!--link goes to url part of /logout from app.py-->
                 <a class="button is-light" href="{{url_for('logout')}}"> 
                  Log out
                </a>


              </div>
            </div>
          </div>
        </div>
      </nav>





  <section class="section">
    <div class="container">

        <!--profile heading-->
        <!--
        <section class="hero is-medium is-primary is-bold">
            <div class="hero-body">
              <div class="container">

                use variables from app.py for dog_name and dog_handle-
                <h1 class="title">
                    {{dog_name}}
                </h1>

                <h2 class="subtitle">
                  {{dog_handle}}
                </h2>

                <p>Hi, I am Rover. I love treats.</p>

              </div>
            </div>
          </section>
        -->

        <section class="hero is-medium is-primary is-bold">
          <div class="hero-body">
            <div class="container">

              <h1 class="title">
                  {{ dog["name"] }}
              </h1>

              <h2 class="subtitle">
                {{ dog["handle"] }}
              </h2>

              <p>   {{ dog["bio"] }} </p>

              <p>number of likes: {{ dog["likes"] }} </p>

            </div>
          </div>
        </section>

          <!--list of posts from app.py-->
          <!--
          <ul>
          {% for post in posts %}
          <li>{{ post }} </li>
          {% endfor %}
        </ul>
        -->
      

    <!--post-->
    {% for post in posts %}
    <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
           <!-- <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image"> -->
           <img src="{{ url_for('static', filename = post[0] + '.jpg') }}" alt="Image">


            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
             <!--   <strong>Rover</strong> <small>@rover</small> <small>31m</small> -->
             <strong>{{ dog["name"] }}</strong> <small>@dog{{ dog['handle'] }}</small>
             <!--<small>31m</small>-->

                <br>
               <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.-->
               <!--  {{ post }} -->
               {{ post[1] }}  <!--  provide post based upon user-->
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
                  <span class="icon is-small">
                    <i class="fas fa-reply" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="retweet">
                  <span class="icon is-small">
                    <i class="fas fa-retweet" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
      {% endfor %}


    </div>
  </section>
  </body>
</html>
