<!--import contents from base.html-->
{% extends 'base.html' %}

{% block content %}
<!--
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DogChat: Feed</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>


     
     <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="index.html" style=" font-weight: bold; font-family: 'Comic Sans MS', sans-serif;">
           DogChat
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Feed
            </a>

            <a class="navbar-item">
                My Profile
              </a>

        
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div> 
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>





  <section class="section">
    <div class="container">

      -->

      <!--heading-->
      <h1 class="title">
        Dog Chat
      </h1>
      <p class="subtitle">
        My Feed
      </p>

    <!--post1-->
    {% for post in posts %}
    <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
            
              <!-- <img src="{{ url_for('feed') }}" alt="Image"> --> 

              <!-- include image based of post name-->
              <img src="{{ url_for('static', filename = post[0] + '.jpg') }}" alt="Image">

            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
               <!-- <strong>Rover</strong> <small>@rover</small> <small>31m</small> -->

             <!--  <strong> {{ get_dog_by_handle( post[0] )['name'] }} </strong> <small> @{{ post[0] }} </small> -->
               <!--<small>31m</small> -->
             
              <!-- <a href="/dog/ma"> <strong> {{get_dog_by_handle( post[0] )['name']}} </strong> </a><small> @{{ post[0] }} </small> --> 
             
              <!--go to link based upon username-->
          <!--<a href="/dog/{{post[0]}}"> <strong> {{get_dog_by_handle( post[0] )['name']}} </strong> </a><small> @{{ post[0] }} </small> -->

          <!--go to link based upon username with url based upon function name and such-->
          <!-- url_for( function_name, such )  -->
          <a href="{{ url_for( 'dog', handle = post[0] ) }}"> <strong> {{get_dog_by_handle( post[0] )['name']}} </strong> </a>
          <small> @{{ post[0] }} </small>

               <br>
               <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.-->
               {{post[1]}}
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
                  <span class="icon is-small">
                    <i class="fas fa-reply" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="retweet">
                  <span class="icon is-small">
                    <i class="fas fa-retweet" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    {% endfor %}

<!--
    </div>
  </section>
  </body>
</html>
-->

{% endblock %}
